{% extends 'admin.html.twig' %}

{% block body %}
    <h1>Редактирование клиента</h1>

    <div class="margin-bottom-lg border-bottom">
        <div class="row">
            <div class="col-lg-5 col-md-8">
                {{ form_start(edit_form) }}
                <div class="form-group">
                    {{ form_label(edit_form.grayScaleImageFile) }}
                    <img id="gray-scale-image-preview"
                         src=""
                         width="200px" height="200px">
                    {{ form_widget(edit_form.grayScaleImageFile) }}
                    {{ form_errors(edit_form.grayScaleImageFile) }}
                </div>

                <div class="form-group">
                    {{ form_label(edit_form.colorImageFile) }}
                    <img id="color-image-preview"
                         src=""
                         width="200px" height="200px">
                    {{ form_widget(edit_form.colorImageFile) }}
                    {{ form_errors(edit_form.colorImageFile) }}
                </div>

                <div class="form-group">
                    {{ form_label(edit_form.title) }}
                    {{ form_widget(edit_form.title) }}
                    {{ form_errors(edit_form.title) }}
                </div>

                <input class="btn" type="submit" value="Редактировать" />
                {{ form_end(edit_form) }}
            </div>
        </div>
    </div>

    {{ form_start(delete_form) }}
        <input class="btn" type="submit" value="Удалить">
    {{ form_end(delete_form) }}

    <br><a class="btn" href="{{ path('admin_client_index') }}">К списку</a>
{% endblock %}
