{% extends 'admin.html.twig' %}

{% block body %}
    <h1>Редактирование клиента</h1>

    <div class="margin-bottom-lg border-bottom">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <ul class="tabs">
                    {% for item in locales %}
                        <li class="{{ item == locale ? 'active' : '' }}">
                            <a href="{{ path('admin_client_translation_edit', { id: client.id, locale: item.shortname }) }}">
                                {{ item.shortname }}
                            </a>
                        </li>
                    {% endfor %}
                </ul><br>
                {{ form_start(edit_form) }}
                {#<div class="form-group">#}
                    {#{{ form_label(edit_form.grayScaleImageFile) }}#}
                    {#<img id="gray-scale-image-preview"#}
                         {#src=""#}
                         {#width="200px" height="200px">#}
                    {#{{ form_widget(edit_form.grayScaleImageFile) }}#}
                    {#{{ form_errors(edit_form.grayScaleImageFile) }}#}
                {#</div>#}

                <div class="form-group">
                    <label class="label">Рисунок</label>
                    <br>
                    <img id="color-image-preview"
                         src="{% if client.colorImageName %}
                            {{ asset('uploads/images/client_color/' ~ client.colorImageName) }}
                            {% endif %}"
                         width="352px" height="200px">
                    <br><br>
                    <a id="open-filesystem" class="btn">Обзор</a>
                </div>

                <div class="form-group" style="display: none;">
                    {{ form_label(edit_form.colorImageFile) }}
                    <img id="color-image-preview"
                         src="{% if client.colorImageName %}
                            {{ asset('uploads/images/client_color/' ~ client.colorImageName) }}
                            {% endif %}"
                         width="200px" height="200px">
                    {{ form_widget(edit_form.colorImageFile) }}
                    {{ form_errors(edit_form.colorImageFile) }}
                </div>

                <div class="form-group">
                    {{ form_label(edit_form.title) }}
                    {{ form_widget(edit_form.title) }}
                    {{ form_errors(edit_form.title) }}
                </div>

                <input class="btn" type="submit" value="Сохранить" />
                {{ form_end(edit_form) }}
            </div>
        </div>
    </div>

    {#{{ form_start(delete_form) }}#}
        {#<input class="btn" type="submit" value="Удалить">#}
    {#{{ form_end(delete_form) }}#}

    <br><a class="btn" href="{{ path('admin_client_translation_index', { 'locale': locale.shortname }) }}">Отмена</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(
            function() {
                document.getElementById("management_adminbundle_clienttranslation_colorImageFile_file").onchange = function () {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        // get loaded data and render thumbnail.
                        document.getElementById("color-image-preview").src = e.target.result;
                    };

                    // read the image file as a data URL.
                    reader.readAsDataURL(this.files[0]);
                };
            });
        $(document).ready(
            function() {
                $('#open-filesystem').click( function () {
                    $('#management_adminbundle_clienttranslation_colorImageFile_file').click();
                })
            });
    </script>
{% endblock javascripts %}
