{% extends 'admin.html.twig' %}

{% block body %}
    <h1>Кто использует</h1>

    <table class="table table-striped table-staff">
        <thead>
            <tr>
                <th>Id</th>
                {#<th>Логотип (чёрно-белый)</th>#}
                {#<th>Логотип (цветной)</th>#}
                <th>Логотип</th>
                <th>Заголовок</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td><a href="{{ path('admin_client_show', { 'id': client.id }) }}">{{ client.id }}</a></td>
                {#<td><img src="{{ asset('uploads/images/client_gray_scale/' ~ client.grayScaleImageName) }}"></td>#}
                <td><img src="{{ asset('uploads/images/client_color/' ~ client.colorImageName) }}"></td>
                <td>{{ client.title }}</td>
                <td><nav><ul class="navbar">
                    <li>
                        <a href="{{ path('admin_client_show', { 'id': client.id }) }}">
                            <i class="fa fa-search fa-lg"></i>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('admin_client_edit', { 'id': client.id }) }}">
                            <i class="fa fa-pencil fa-lg"></i>
                        </a>
                    </li>
                </ul></nav></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn" href="{{ path('admin_client_new') }}">Добавить клиента</a>
{% endblock %}
