{% extends 'admin.html.twig' %}

{% block body %}
    <h1>Добавление клиента</h1>

    <div class="margin-bottom-lg border-bottom">
        <div class="row">
            <div class="col-lg-5 col-md-8">
                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_label(form.grayScaleImageFile) }}
                    <img id="gray-scale-image-preview"
                         src=""
                         width="200px" height="200px">
                    {{ form_widget(form.grayScaleImageFile) }}
                    {{ form_errors(form.grayScaleImageFile) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.colorImageFile) }}
                    <img id="color-image-preview"
                         src=""
                         width="200px" height="200px">
                    {{ form_widget(form.colorImageFile) }}
                    {{ form_errors(form.colorImageFile) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.title) }}
                    {{ form_widget(form.title) }}
                    {{ form_errors(form.title) }}
                </div>

                <input class="btn" type="submit" value="Добавить" />
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <a class="btn" href="{{ path('admin_client_index') }}">К списку</a>
{% endblock %}
