{% extends 'admin.html.twig' %}

{% block body %}
    <h1>Добавление клиента</h1>

    <div class="margin-bottom-lg border-bottom">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                {{ form_start(form) }}
                {#<div class="form-group">#}
                    {#{{ form_label(form.grayScaleImageFile) }}#}
                    {#<img id="gray-scale-image-preview"#}
                         {#src=""#}
                         {#width="200px" height="200px">#}
                    {#{{ form_widget(form.grayScaleImageFile) }}#}
                    {#{{ form_errors(form.grayScaleImageFile) }}#}
                {#</div>#}

                <div class="form-group">
                    <label class="label">Рисунок</label>
                    <br>
                    <img id="color-image-preview"
                         src="{% if client.colorImageName %}
                            {{ asset('uploads/images/client_color/' ~ client.colorImageName) }}
                            {% endif %}"
                         width="352px" height="200px">
                    <br><br>
                    <a id="open-filesystem" class="btn">Обзор</a>
                </div>

                <div class="form-group" style="display: none;">
                    {{ form_label(form.colorImageFile) }}
                    <img id="color-image-preview"
                         src=""
                         width="352px" height="200px">
                    {{ form_widget(form.colorImageFile) }}
                    {{ form_errors(form.colorImageFile) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.title) }}
                    {{ form_widget(form.title) }}
                    {{ form_errors(form.title) }}
                </div>

                <input class="btn" type="submit" value="Добавить" />
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <a class="btn" href="{{ path('admin_client_index') }}">Отмена</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(
            function() {
                document.getElementById("management_adminbundle_client_colorImageFile_file").onchange = function () {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        // get loaded data and render thumbnail.
                        document.getElementById("color-image-preview").src = e.target.result;
                    };

                    // read the image file as a data URL.
                    reader.readAsDataURL(this.files[0]);
                };
            });
        $(document).ready(
            function() {
                $('#open-filesystem').click( function () {
                    $('#management_adminbundle_client_colorImageFile_file').click();
                })
            });
    </script>
{% endblock javascripts %}
