{% extends 'admin.html.twig' %}

{% block body %}
    <h1>{{ 'Клиент ' ~ client.title }}</h1>

    <table class="table table-staff">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            {#<tr>#}
                {#<th>Логотип (чёрно-белый)</th>#}
                {#<td>#}
                    {#<img src="{{ asset('uploads/images/client_gray_scale/' ~ client.grayScaleImageName) }}">#}
                {#</td>#}
            {#</tr>#}
            <tr>
                <th>Логотип (цветной)</th>
                <th>Логотип</th>
                <td>
                    <img src="{{ asset('uploads/images/client_color/' ~ client.colorImageName) }}">
                </td>
            </tr>
            <tr>
                <th>Заголовок</th>
                <td>{{ client.title }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn" href="{{ path('admin_client_edit', { 'id': client.id }) }}">Редактировать</a>

    {{ form_start(delete_form) }}
        <input class="btn" type="submit" value="Удалить">
    {{ form_end(delete_form) }}

    <a class="btn" href="{{ path('admin_client_index') }}">К списку</a>
{% endblock %}
