{% extends 'admin.html.twig' %}

{% block body %}
    <h1>Редактирование версии</h1>

    <div class="margin-bottom-lg border-bottom">
        <div class="row">
            <div class="col-lg-5 col-md-8">
                {{ form_start(edit_form) }}
                <div class="form-group" style="display: none;">
                    {{ form_label(edit_form.type) }}
                    {{ form_widget(edit_form.type) }}
                    {{ form_errors(edit_form.type) }}
                </div>

                {#<div class="form-group">#}
                    {#{{ form_label(edit_form.description) }}#}
                    {#{{ form_widget(edit_form.description) }}#}
                    {#{{ form_errors(edit_form.description) }}#}
                {#</div>#}

                {#<div class="form-group">#}
                    {#{{ form_label(edit_form.name) }}#}
                    {#{{ form_widget(edit_form.name) }}#}
                    {#{{ form_errors(edit_form.name) }}#}
                {#</div>#}

                <div class="form-group">
                    {{ form_label(edit_form.version) }}
                    <p>&lt;dependency&gt;</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&lt;groupId&gt;ru.curs&lt;/groupId&gt;</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&lt;artifactId&gt;celesta&lt;/artifactId&gt;</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&lt;version&gt;{{ form_widget(edit_form.version) }}&lt;/version&gt;</p>
                    <p>&lt;/dependency&gt;</p>
                    {{ form_errors(edit_form.version) }}
                </div>

                {#<div class="form-group" {{ version.type == 'Исходный код' ? 'style="display: none;"' : '' }}>#}
                    {#{{ form_label(edit_form.mavenDependency) }}#}
                    {#{{ form_widget(edit_form.mavenDependency) }}#}
                    {#{{ form_errors(edit_form.mavenDependency) }}#}
                {#</div>#}

                <input class="btn" type="submit" value="Сохранить" />
                {{ form_end(edit_form) }}
            </div>
        </div>
    </div>

    {#{{ form_start(delete_form) }}#}
        {#<input class="btn" type="submit" value="Удалить">#}
    {#{{ form_end(delete_form) }}#}

    <br><a class="btn" href="{{ path('admin_version_index') }}">Отмена</a>
{% endblock %}
