{% extends 'admin.html.twig' %}

{% block body %}
    <h1>Locale</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ locale.id }}</td>
            </tr>
            <tr>
                <th>Language</th>
                <td>{{ locale.language }}</td>
            </tr>
            <tr>
                <th>Shortname</th>
                <td>{{ locale.shortname }}</td>
            </tr>
            <tr>
                <th>Dateofcreation</th>
                <td>{% if locale.dateOfCreation %}{{ locale.dateOfCreation|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Dateofchange</th>
                <td>{% if locale.dateOfChange %}{{ locale.dateOfChange|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_locale_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_locale_edit', { 'id': locale.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
