<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link type="text/css" rel="stylesheet" href="{{ asset('bundles/website/css/axeta.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    {% block header %}
        <header>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a href="{{ path('logout') }}">Logout</a>
        {% endif %}
        </header>
    {% endblock header %}

    {% block body %}{% endblock body %}

    {% block javascripts %}
        <script src="{{ asset('bundles/website/js/jquery-2.1.4.min.js') }}"></script>
        <script src="{{ asset('bundles/website/js/axeta.js') }}"></script>
    {% endblock %}
    </body>
</html>
