<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
        <meta charset="UTF-8">
        <meta name="MobileOptimized" content="320">
        <meta name="HandheldFriendly" content="True">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% endblock meta %}
    <title>{% block title %}{% endblock title %}</title>
    {% block stylesheets %}
        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/frontendcomponents/css/axeta.css') }}" />
        <link type="text/css" rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <style>
            td {
                word-break: break-all;
            }
        </style>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<div class="wrapper">
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar origin" id="sidebar">
        <!-- Logo -->
        {#<a href="{{ path('admin_index') }}" class="logo"></a>#}
        <section class="sidebar">
            {#<a href="" class="menu-trigger"></a>#}
            {#<ul class="sidebar-menu">#}
                {#<li class="header">Статичные блоки</li>#}
                {#<li><a href="{{ path('admin_common_information_index') }}">Общая информация</a></li>#}
                {#<li><a href="{{ path('admin_component_index') }}">Компоненты платформы</a></li>#}
                {#<li><a href="{{ path('admin_advantage_index') }}">Основные преимущества</a></li>#}
                {#<li><a href="{{ path('admin_client_index') }}">Кто использует</a></li>#}
                {#<li><a href="{{ path('admin_company_information_index') }}">О компании</a></li>#}
            {#</ul>#}

            {#<ul class="sidebar-menu">#}
                {#<li class="header">Коды для Maven</li>#}
                {#<li><a href="{{ path('admin_version_index') }}">Коды для Maven</a></li>#}
            {#</ul>#}

            {#<ul class="sidebar-menu">#}
                {#<li class="header">Новости</li>#}
                {#<li><a href="{{ path('admin_redirect_for_selected_feed_source', {action: 'show'}) }}">Настройка источника RSS</a></li>#}
                {#<li><a href="{{ path('admin_redirect_for_selected_feed_source', {action: 'show_feed'}) }}">Модерация новостей</a></li>#}
            {#</ul>#}

            {#<ul class="sidebar-menu">#}
                {#<li class="header">Список подписчиков</li>#}
                {#<li><a href="{{ path('admin_subscriber_index') }}">Список подписчиков</a></li>#}
            {#</ul>#}
            <a href="#" class="menu-trigger"></a>
            {{ knp_menu_render('ManagementAdminBundle:Builder:mainMenu', {
                'class': 'sidebar-menu',
                'currentClass': 'active'
            }) }}
        </section>
    </aside>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" id="content">
        <!-- Content Header (Page header) -->
        {% block header %}
        <header class="main-header border-bottom">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="profile-bar right">
                <nav>
                    <ul class="navbar">
                        <li>Здравствуйте, <strong>{{ app.user.username }}</strong></li>
                        <li><a href="{{ path('logout') }}">Выход</a></li>
                    </ul>
                </nav>
            </div>
            {% endif %}
        </header>
        {% endblock header %}
        <!-- Main content -->
        <section class="content">{% block body %}{% endblock body %}</section>
        <!-- /.content -->
    </div>
</div>
<!-- ./wrapper -->
{% block javascripts %}
    <script src="{{ asset('bundles/frontendcomponents/js/jquery-2.1.4.min.js') }}"></script>
    <script src="{{ asset('bundles/frontendcomponents/js/axeta.js') }}"></script>
{% endblock %}
</body>
</html>
