<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
        <meta charset="UTF-8">
        <meta name="MobileOptimized" content="320">
        <meta name="HandheldFriendly" content="True">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% endblock meta %}
    <title>{% block title %}{% endblock title %}</title>
    {% block stylesheets %}
        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/frontendcomponents/css/axeta.css') }}" />
        <link type="text/css" rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<div class="wrapper">
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar origin" id="sidebar">
        <!-- Logo -->
        <a href="" class="logo"></a>
        <section class="sidebar">
            <a href="" class="menu-trigger"></a>
            <ul class="sidebar-menu">
                <li class="header"><a>Статичные блоки</a></li>
                <li><a href="{{ path('admin_common_information_index') }}">Общая информация</a></li>
                <li><a href="{{ path('admin_component_index') }}">Компоненты платформы</a></li>
                <li><a href="{{ path('admin_advantage_index') }}">Основные преимущества</a></li>
                <li><a href="{{ path('admin_client_index') }}">Кто использует</a></li>
            </ul>

            <ul class="sidebar-menu">
                <li class="header"><a>Коды для Maven</a></li>
            </ul>

            <ul class="sidebar-menu">
                <li class="header"><a>Новости</a></li>
                <li><a href="">Настройка источника RSS</a></li>
                <li><a href="">Модерация новостей</a></li>
            </ul>

            <ul class="sidebar-menu">
                <li class="header"><a>Список подписчиков</a></li>
            </ul>
        </section>
    </aside>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" id="content">
        <!-- Content Header (Page header) -->
        {% block header %}
        <header class="main-header border-bottom">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="profile-bar right">
                <nav>
                    <ul class="navbar">
                        <li>Hello, <a href="">Username</a></li>
                        <li><a href="{{ path('logout') }}">Log out</a></li>
                    </ul>
                </nav>
            </div>
            {% endif %}
        </header>
        {% endblock header %}
        <!-- Main content -->
        <section class="content">{% block body %}{% endblock body %}</section>
        <!-- /.content -->
    </div>
</div>
<!-- ./wrapper -->
{% block javascripts %}
    <script src="{{ asset('bundles/frontendcomponents/js/jquery-2.1.4.min.js') }}"></script>
    <script src="{{ asset('bundles/frontendcomponents/js/axeta.js') }}"></script>
{% endblock %}
</body>
</html>
