{% extends 'admin.html.twig' %}

{% block body %}
    <h1>Источники новостей</h1>

    <table class="table table-striped table-staff">
        <thead>
            <tr>
                <th>Id</th>
                <th>URL</th>
                <th>Public ID</th>
                <th>Заголовок</th>
                <th>Описание</th>
                <th>Последнее обновление</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for feedSource in feedSources %}
            <tr>
                <td><a href="{{ path('admin_feed_source_show', { 'id': feedSource.id }) }}">{{ feedSource.id }}</a></td>
                <td>{{ feedSource.url }}</td>
                <td>{{ feedSource.publicId }}</td>
                <td>{{ feedSource.title }}</td>
                <td>{{ feedSource.description }}</td>
                <td>{% if feedSource.lastModified %}{{ feedSource.lastModified|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td><nav><ul class="navbar">
                    <li>
                        <a href="{{ path('admin_feed_source_show', { 'id': feedSource.id }) }}">
                            <i class="fa fa-search fa-lg"></i>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('admin_feed_source_edit', { 'id': feedSource.id }) }}">
                            <i class="fa fa-pencil fa-lg"></i>
                        </a>
                    </li>
                </ul></nav></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn" href="{{ path('admin_feed_source_new') }}">Добавить источник новостей</a>
{% endblock %}
