{% extends 'admin.html.twig' %}

{% block body %}
    <h1>Модерация новостей</h1>

    <div class="row">
        {#<div class="col-lg-4 col-md-4">#}
            {#{{ form_start(form) }}#}
            {#<div class="form-group">#}
                {#<h3>Загрузить новости</h3>#}
                {#{{ form_label(form.modifiedSince) }}#}
                {#{{ form_widget(form.modifiedSince) }}#}
            {#</div>#}

            {#<input class="btn" type="submit" value="Загрузить" />#}
            {#{{ form_end(form) }}#}
        {#</div>#}

        {#<div class="col-lg-8 col-md-8">#}
            {#<h3>Фильтрация новостей</h3>#}
            {#{{ form_start(filterForm) }}#}
            {#<div class="form-group col-lg-6 col-md-6">#}
                {#{{ form_label(filterForm.status) }}#}
                {#{{ form_widget(filterForm.status) }}#}
            {#</div>#}

            {#<div class="form-group col-lg-6 col-md-6">#}
                {#{{ form_label(filterForm.lastModified) }}#}
                {#{{ form_widget(filterForm.lastModified) }}#}
            {#</div>#}

            {#<input class="btn" type="submit" value="Применить" />#}
            {#{{ form_end(filterForm) }}#}
        {#</div>#}

        <div class="col-lg-12 col-md-12">
            <h3>Фильтрация новостей</h3>
        </div>
        {{ form_start(filterForm) }}
        <div class="form-group col-lg-4 col-md-4">
            {{ form_label(filterForm.status) }}
            {{ form_widget(filterForm.status) }}
        </div>

        <div class="form-group col-lg-4 col-md-4">
            {{ form_label(filterForm.lastModified) }}
            {{ form_widget(filterForm.lastModified) }}
        </div>

        <div class="form-group col-lg-4 col-md-4">
            <br><input class="btn" type="submit" value="Применить" />
        </div>
        {{ form_end(filterForm) }}
    </div>

    <table class="table table-striped table-staff">
        <thead>
            <tr>
                <th style="width: 20% !important;">Заголовок</th>
                <th style="width: 37% !important;">Текст</th>
                <th style="width: 15% !important;">Автор</th>
                <th style="width: 10% !important;">Последнее обновление</th>
                <th style="width: 18% !important;">Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for entry in feed %}
            <tr>
                <td><a href="{{ entry.link }}" target="_blank"><i class="fa fa-link fa-lg"></i>&nbsp;</a>{{ entry.title }}</td>
                <td>{{ entry.text }}</td>
                <td>{{ entry.author }}</td>
                <td>{% if entry.lastModified %}{{ entry.lastModified|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td><nav><ul class="navbar">
                    <p><span style="padding: 0 10px; font-weight: bolder;">{{ entry.status }}</span></p>
                    <br>
                    {% if entry.status == 'На модерации' %}
                        <li>
                            <a class="btn" href="{{ path('admin_feed_change',
                            {id: entry.id, action: 'publish'}) }}">Опубликовать</a>
                        </li>
                        <br><br>
                        <li>
                            <a class="btn" href="{{ path('admin_feed_change',
                            {id: entry.id, action: 'reject'}) }}">Отклонить</a>
                        </li>
                    {% elseif entry.status == 'Опубликована' %}
                        <li>
                            <a class="btn" href="{{ path('admin_feed_change',
                            {id: entry.id, action: 'reject'}) }}">Отклонить</a>
                        </li>
                    {% elseif entry.status == 'Отклонена' %}
                        <li>
                            <a class="btn" href="{{ path('admin_feed_change',
                            {id: entry.id, action: 'publish'}) }}">Опубликовать</a>
                        </li>
                    {% endif %}
                </ul></nav></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <style>
        td {
            word-break: normal;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready( function() {
            $('input.datepicker').datepicker({
                setDate: new Date(),
                dateFormat: 'yy-mm-dd',
                changeMonth: true,
                changeYear: true,
                closeText: "Закрыть",
                prevText: "&#x3C;Пред",
                nextText: "След&#x3E;",
                currentText: "Сегодня",
                monthNames: [ "Январь","Февраль","Март","Апрель","Май","Июнь",
                    "Июль","Август","Сентябрь","Октябрь","Ноябрь","Декабрь" ],
                monthNamesShort: [ "Янв","Фев","Мар","Апр","Май","Июн",
                    "Июл","Авг","Сен","Окт","Ноя","Дек" ],
                dayNames: [ "воскресенье","понедельник","вторник","среда","четверг","пятница","суббота" ],
                dayNamesShort: [ "вск","пнд","втр","срд","чтв","птн","сбт" ],
                dayNamesMin: [ "Вс","Пн","Вт","Ср","Чт","Пт","Сб" ],
                weekHeader: "Нед",
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: "",
                yearRange: "1900:+nn"
            });

//            $('input.datepicker').datepicker("setDate", "-7");

            $('#management_adminbundle_feed_filter_status option:first-child').text('Все');
        });
    </script>
{% endblock %}
