{% extends 'admin.html.twig' %}

{% block body %}
    <h1>Статусы новостей</h1>

    <table class="table table-striped table-staff">
        <thead>
            <tr>
                <th>ID</th>
                <th>Статус</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for feedStatus in feedStatuses %}
            <tr>
                <td><a href="{{ path('admin_feed_status_show', { 'id': feedStatus.id }) }}">{{ feedStatus.id }}</a></td>
                <td>{{ feedStatus.name }}</td>
                <td><nav><ul class="navbar">
                    <li>
                        <a href="{{ path('admin_feed_status_show', { 'id': feedStatus.id }) }}">
                            <i class="fa fa-search fa-lg"></i>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('admin_feed_status_edit', { 'id': feedStatus.id }) }}">
                            <i class="fa fa-pencil fa-lg"></i>
                        </a>
                    </li>
                </ul></nav></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn" href="{{ path('admin_feed_status_new') }}">Добавить статус</a>
{% endblock %}
