{% extends 'admin.html.twig' %}

{% block body %}
    <h1>Редактирование преимущества</h1>

    <div class="margin-bottom-lg border-bottom">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <br><nav>
                    <ul class="navbar">
                        {% for item in locales %}
                            <li class="{{ item == locale ? 'active' : '' }}">
                                <a class="btn" href="{{ path('admin_advantage_translation_edit', { id: advantage.id, locale: item.shortname }) }}">
                                    {{ item.shortname }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav><br><br>
                {{ form_start(edit_form) }}
                <div class="form-group">
                    <label class="label">Рисунок</label>
                    <br>
                    <img id="image-preview"
                         src="{% if advantage.imageName %}
                            {{ asset('uploads/images/advantage/' ~ advantage.imageName) }}
                            {% endif %}"
                         width="100px" height="100px">
                    <br><br>
                    <a id="open-filesystem" class="btn">Обзор</a>
                </div>

                <div class="form-group" style="display: none;">
                    {{ form_label(edit_form.imageFile) }}
                    {{ form_widget(edit_form.imageFile) }}
                    {{ form_errors(edit_form.imageFile) }}
                </div>

                <div class="form-group">
                    {{ form_label(edit_form.description) }}
                    {{ form_widget(edit_form.description) }}
                    {{ form_errors(edit_form.description) }}
                </div>

                <input class="btn" type="submit" value="Сохранить" />
                {{ form_end(edit_form) }}
            </div>
        </div>
    </div>

    {#{{ form_start(delete_form) }}#}
        {#<input class="btn" type="submit" value="Удалить">#}
    {#{{ form_end(delete_form) }}#}

    <br><a class="btn" href="{{ path('admin_advantage_translation_index', {locale: locale.shortname}) }}">Отмена</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(
            function() {
                document.getElementById("management_adminbundle_advantagetranslation_imageFile_file").onchange = function () {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        // get loaded data and render thumbnail.
                        document.getElementById("image-preview").src = e.target.result;
                    };

                    // read the image file as a data URL.
                    reader.readAsDataURL(this.files[0]);
                };
            });
        $(document).ready(
            function() {
                $('#open-filesystem').click( function () {
                    $('#management_adminbundle_advantagetranslation_imageFile_file').click();
                })
            });
    </script>
{% endblock javascripts %}
