{% extends 'admin.html.twig' %}

{% block body %}
    <h1>Основные преимущества</h1>

    <table class="table table-striped table-staff">
        <thead>
            <tr>
                <th style="width: 8% !important;">ID</th>
                <th style="width: 10% !important;">Рисунок</th>
                <th style="width: 72% !important;">Описание</th>
                <th style="width: 10% !important;">Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for advantage in advantages %}
            <tr>
                <td>
                    {#<a href="{{ path('admin_advantage_show', { 'id': advantage.id }) }}">#}
                        {{ advantage.id }}
                    {#</a>#}
                </td>
                <td><img src="{{ asset('uploads/images/advantage/' ~ advantage.imageName) }}"
                    width="60" height="60"></td>
                <td>{{ advantage.description }}</td>
                <td><nav><ul class="navbar">
                    {#<li>#}
                        {#<a href="{{ path('admin_advantage_show', { 'id': advantage.id }) }}">#}
                            {#<i class="fa fa-search fa-lg"></i>#}
                        {#</a>#}
                    {#</li>#}
                    <li>
                        <a href="{{ path('admin_advantage_edit', { 'id': advantage.id }) }}">
                            <i class="fa fa-pencil fa-lg"></i>
                        </a>
                    </li>
                </ul></nav></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#<a class="btn" href="{{ path('admin_advantage_new') }}">Добавить преимущество</a>#}
{% endblock %}
