{% extends 'admin.html.twig' %}

{% block body %}
    <h1>Добавление компонента</h1>

    <div class="margin-bottom-lg border-bottom">
        <div class="row">
            <div class="col-lg-5 col-md-8">
                <ul class="tabs">
                    {% set number = 0 %}
                    {% for locale in locales %}
                        {% set number = number + 1 %}
                        <li class="{{ number == 1 ? 'active' : '' }}" data-for="{{ 'tab' ~ number }}">
                            <a href="">
                                {{ locale.shortname }}
                            </a>
                        </li>
                    {% endfor %}
                </ul><br>
                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name) }}
                    {{ form_errors(form.name) }}
                </div>

                {#<ul class="tab">#}
                    {#{% set number = 0 %}#}
                    {#{% for form in forms %}#}
                        {#{% set number = number + 1 %}#}
                        {#<li class="{{ number == 1 ? 'active' : '' }}" id="{{ 'tab' ~ number }}">#}
                            {#{% if number == 1 %}#}
                            {#{% endif %}#}
                        {#</li>#}
                    {#{% endfor %}#}
                {#</ul>#}

                <div class="form-group">
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description) }}
                    {{ form_errors(form.description) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.wikiUrl) }}
                    {{ form_widget(form.wikiUrl) }}
                    {{ form_errors(form.wikiUrl) }}
                </div>

                <input class="btn" type="submit" value="Добавить" />
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <a class="btn" href="{{ path('admin_component_translation_index', {locale: locale.shortname}) }}">К списку</a>
{% endblock %}
