{% extends 'admin.html.twig' %}

{% block body %}
    <h1>{{ 'Компонент ' ~ component.name }}</h1>

    <table class="table table-staff">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ component.id }}</td>
            </tr>
            <tr>
                <th>Название</th>
                <td>{{ component.name }}</td>
            </tr>
            <tr>
                <th>Описание</th>
                <td>{{ component.description }}</td>
            </tr>
            <tr>
                <th>Ссылка на wiki страницу</th>
                <td>{{ component.wikiUrl }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn" href="{{ path('admin_component_edit', { 'id': component.id }) }}">Редактировать</a>

    {{ form_start(delete_form) }}
        <input class="btn" type="submit" value="Удалить">
    {{ form_end(delete_form) }}

    <a class="btn" href="{{ path('admin_component_index') }}">К списку</a>
{% endblock %}
