<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Orchestra</title>
    <link rel="stylesheet" href="{{ asset('bundles/frontendcomponents/styles/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/frontendcomponents/styles/main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap-grid.min.css">
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
</head>
<body>
<header>
    <a href="/" class="logo" >
        <img src="{{ asset('bundles/frontendcomponents/img/course-orchestra-logo.png') }}" class="course-orchestra-logo" alt="logo"/>
    </a>
    <nav class="nav">
        <ul>
            <li><a href="#info">Информация</a></li>
            <li><a href="#advantages">Преимущества</a></li>
            <li><a href="#users">Кто использует</a></li>
            <li><a href="#download">Загрузить</a></li>
            <li><a href="#news">Новости</a></li>
            <li><a href="">Документация</a></li>
        </ul>
    </nav>
    <div id="select-locale">Eng</div>
</header>
<section id="main" class="main">
    <h1>{{ commonInformation.title|raw}}</h1>
    <p>{{ commonInformation.description|raw }}</p>
    <a href="#info"><img src="{{ asset('bundles/frontendcomponents/img/ic-scroll-down.png') }}" alt="scroll down"/></a>
</section>
<section id="info" class="info">
    <h1>Компоненты платформы</h1>
    <div class="row">
    {% set serialNumber = 0 %}
    {% for component in components %}
        {% set serialNumber = serialNumber + 1 %}
        <div class="col-md-{{ serialNumber <= 3 ? 4 : 3 }}">
            <h2>{{ component.name }}</h2>
            <p>{{ component.description }}</p>
        </div>
    {% if serialNumber == 3 %}
    </div>
    <div class="row">
    {% endif %}
    {% endfor %}
    </div>
</section>
<section id="advantages" class="advantages">
    <h1>Основные преимущества</h1>
    <div class="row">
        {% set serialNumber = 0 %}
        {% for advantage in advantages %}
        {% set serialNumber = serialNumber + 1 %}
        <div class="col-md-3">
            <img src="{{ asset('uploads/images/advantage/' ~ advantage.imageName) }}" alt="icon" />
            <p>{{ advantage.description }}</p>
        </div>
    {% if serialNumber == 4 %}
    </div>
    <div class="row">
    {% endif %}
    {% endfor %}
    </div>
</section>
<section id="users" class="users">
    <h1>Кто использует</h1>
    <div class="row">
        {% set serialNumber = 0 %}
        {% for client in clients %}
        {% set serialNumber = serialNumber + 1 %}
        <div class="col-md-4">
            <img src="{{ asset('uploads/images/client_color/' ~ client.colorImageName) }}" alt="icon" />
            <p>{{ client.title }}</p>
        </div>
        {% if serialNumber == 3 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
</section>
<section id="download" class="download">
    <h1>Загрузить</h1>
    <h2>Выберите подходящий вам способ загрузки и версию</h2>
    <nav>
        <ul>
            <li><a href="#stable" class="active">Стабильная версия</a></li>
            <li><a href="#newest-version">Новейшая версия</a></li>
            <li><a href="#source-code">Исходный код</a></li>
        </ul>
    </nav>
    <div id="stable" class="stable-version">
        <div class="row">
            <div class="col-md-8">
                <div class="border-div">
                    <div class="download-link">
                        <a href="{{ builds.stable.0.path }}">Дистрибутив самой последней стабильной версии платформы</a>
                        <span>{{ '(' ~ versions.stable.name ~ ')' }}</span>
                        <p>{{ versions.stable.description }}</p>
                    </div>
                    <h3>История версий</h3>
                    <ul>
                    {% for key, value in builds.stable if key != 0 %}
                        <li>
                            <a href="{{ value.path }}">{{ '(' ~ value.name ~ '), ' }}
                                <span>{{ date('NOW').diff(value.date).days ~ ' дней назад' }}</span>
                            </a>
                        </li>
                    {% endfor %}
                        {#<li><a href="">Последняя сборка (5.1-build518), <span>17 дней назад</span></a></li>#}
                        {#<li><a href="">Последняя стабильная сборка (5.1-build518), <span>17 дней назад</span></a></li>#}
                        {#<li><a href="">Последняя успешная сборка (5.1-build518), <span>17 дней назад</span></a></li>#}
                    </ul>
                    <a class="button" href="">Полная история версий</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="code-example">
                    <h3>Maven dependency</h3>
                    <div>
                        <textarea class="frame">
                            {#<dependency>#}
                            {#&nbsp;&nbsp;&nbsp;&nbsp;<groupId>ru.curs</groupId>#}
                            {#&nbsp;&nbsp;&nbsp;&nbsp;<artifactId>celesta</artifactId>#}
                            {#&nbsp;&nbsp;&nbsp;&nbsp;<version>6.0</version>#}
                            {#</dependency>#}
                            {{ versions.stable.mavenDependency | raw }}
                        </textarea>
                        <button class="copy" onclick="copyToClipboard()">copy</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="source-code" class="source-code">
        <p>Есть много источников, откуда вы можете скачать наши исходные коды. <br/>Свяжитесь с нами, если хотите участвовать в разработке: мы дадим вам доступ на запись</p>
        <ul>
            <li>
                <h3>С сайта компании КУРС<span>Master SVN | user: reader | pwd: reader</span></h3>
                <a href="">Сelesta</a>
                <a href="">flute (включая XML2Spreadsheet)</a>
                <a href="">grains (системная библиотека Celesta)</a>
                <a href="">mellophone</a>
                <a href="">showcase</a>
            </li>
            <li>
                <h3>Lancelot-it.ru<span>Primary read-only copy | user: reader | pwd: platform</span></h3>
                <a href="">Сelesta</a>
                <a href="">flute (включая XML2Spreadsheet)</a>
                <a href="">grains (системная библиотека Celesta)</a>
                <a href="">mellophone</a>
                <a href="">showcase</a>
            </li>
            <li>
                <h3>code.sf.net<span>Secondary read-only copy (sourceforge.net, anonymous access)</span></h3>
                <a href="">Сelesta</a>
                <a href="">flute (включая XML2Spreadsheet)</a>
                <a href="">grains (системная библиотека Celesta)</a>
                <a href="">mellophone</a>
            </li>
        </ul>
    </div>
</section>
<section id="news" class="news">
    <div class="row">
        <div class="col-md-7">
            <h1>Последние новости</h1>
            <ul>
            {% for item in feed %}
                <li>
                    <div class="date">{{ item.lastModified|date('d.m.Y') }}</div>
                    <a href="">{{ item.title }}</a>
                </li>
            {% endfor %}
            </ul>
            <a class="button" href="">Перейти в группу новостей</a>
        </div>
        <div class="col-md-5">
            {{ form_start(subscriberForm) }}
                <h3>Хотите быть в курсе последних событий? </h3>
                <p>Подпишитесь на нашу рассылку и получайте уведомления на свой почтовый адрес</p>
                {#<input placeholder="Ваш email"/>#}
                {{ form_widget(subscriberForm) }}
                <p>Нажимая кнопку вы принимаете условия <a href="">пользовательского соглашения</a></p>
            {{ form_end(subscriberForm) }}
        </div>
    </div>
</section>
<footer>
    <p>Компоненты платформы КУРС являются свободным программным обеспечением<br/>с открытым исходным кодом, распространяемым по лицензии GPL v. 3.</p>
    <img src="{{ asset('bundles/frontendcomponents/img/gpl-license-logo.png') }}" alt="licence"/>
    <p><span id="address">КУРС</span> © 1998-2017</p>
</footer>
<a href="#" class="back-to-top"></a>
<div class="modal">
    <div class="modal-content">
        <img class="kurs-logo" src="{{ asset('bundles/frontendcomponents/img/kurs-logo.png') }}" alt="kurs logo" />
        <span class="close"><img src="{{ asset('bundles/frontendcomponents/img/ic-close.png') }}" alt="close btn" /></span>
        <p>Группа компаний «КУРС» с 1998 года активно работает на российском рынке информационных и консультационных услуг, как в корпоративном, так и в государственном секторе.</p>
        <div class="address">111020, Москва, Боровая ул., дом 7, корп. 2</div>
        <div class="mail">info@curs.ru</div>
        <div class="phone">+7 (495) 640-27-72</div>
        <h3>Как нас найти</h3>
        <div id="map"></div>
    </div>
</div>
<script src="{{ asset('bundles/frontendcomponents/js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ asset('bundles/frontendcomponents/js/jquery.scrollTo.min.js') }}"></script>
<script src="{{ asset('bundles/frontendcomponents/js/jquery.localScroll.min.js') }}"></script>
<script src="{{ asset('bundles/frontendcomponents/js/index.js') }}"></script>
<script src="{{ asset('bundles/frontendcomponents/js/yandexMap.js') }}"></script>
</body>
</html>
