<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Orchestra</title>
	<link rel="icon" href="{{ asset('bundles/frontendcomponents/img/favicon.png') }}">
    <link rel="stylesheet" href="{{ asset('bundles/frontendcomponents/styles/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/frontendcomponents/styles/main.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/frontendcomponents/styles/bootstrap-grid.css') }}">
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
	<!--[if IE]>		  
		<script src="https://cdn.jsdelivr.net/g/html5shiv@3.7.3,respond@1.4.2"></script>
	<![endif]-->
</head>
<body>
<header>
    <a href="/" class="logo" >
        <img src="{{ asset('bundles/frontendcomponents/img/course-orchestra-logo.png') }}" class="course-orchestra-logo" alt="logo"/>
    </a>
    <nav class="nav">
        <ul>
            <li><a href="#info">Информация</a></li>
            <li><a href="#advantages">Преимущества</a></li>
            <li><a href="#users">Кто использует</a></li>
            <li><a href="#download">Загрузить</a></li>
            <li><a href="#news">Новости</a></li>
            <li><a href="http://wiki.staging.corchestra.ru/index.php?title=Заглавная_страница" target="_blank">Документация</a></li>
        </ul>
    </nav>
    <div id="select-locale">
		<span>Ru</span>
		<ul>
			<li>Ru</li>
		  <li>Eng</li>
		</ul>
	</div>
</header>
<section id="main" class="main">
    <h1>{{ commonInformation.title|raw}}</h1>
    <p>{{ commonInformation.description|raw }}</p>
    <a href="#info"><img src="{{ asset('bundles/frontendcomponents/img/ic-scroll-down.png') }}" alt="scroll down"/></a>
</section>
<section id="info" class="info">
    <h1>Компоненты платформы</h1>
    <div class="row">
    {% set serialNumber = 0 %}
    {% for component in components %}
        {% set serialNumber = serialNumber + 1 %}
        <div class="col-xs-{{ serialNumber <= 3 ? 4 : 3 }}">
            <h2><a href="{{ component.wikiUrl ? component.wikiUrl : '' }}" target="_blank">{{ component.name }}</a></h2>
            <p>{{ component.description }}</p>
        </div>
    {% if serialNumber == 3 %}
    </div>
    <div class="row">
    {% endif %}
    {% endfor %}
    </div>
</section>
<section id="advantages" class="advantages">
    <h1>Основные преимущества</h1>
    <div class="row">
        {% set serialNumber = 0 %}
        {% for advantage in advantages %}
        {% set serialNumber = serialNumber + 1 %}
        <div class="col-xs-4">
			<div>
				<img src="{{ asset('uploads/images/advantage/' ~ advantage.imageName) }}" alt="icon" />
			</div>
            <p>{{ advantage.description }}</p>
        </div>
    {% if serialNumber == 3 %}
    </div>
    <div class="row">
    {% endif %}
    {% endfor %}
    </div>
</section>
<section id="users" class="users">
    <h1>Кто использует</h1>
    <div class="row">
        {% set serialNumber = 0 %}
        {% for client in clients %}
        {% set serialNumber = serialNumber + 1 %}
        <div class="col-xs-4">
			<div class="img-wrapper">
				<img src="{{ asset('uploads/images/client_color/' ~ client.colorImageName) }}" alt="icon">
            </div>
			<p>{{ client.title }}</p>
        </div>
        {% if serialNumber % 3 == 0 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
</section>
<section id="download" class="download">
    <h1>Загрузить</h1>
    <h2>Выберите подходящий вам способ загрузки и версию</h2>
    <nav>
        <ul>
            <li><a href="#stable" class="active">Стабильная версия</a></li>
            <li><a href="#newest-version">Новейшая версия</a></li>
            <li><a href="#source-code">Исходный код</a></li>
        </ul>
    </nav>
    <div id="stable" class="stable-version">
        <div class="row">
            <p>Рекомендовано для установки на рабочих проектах</p>
            <div class="download-link">
                <a href="{{ builds.stable != null ? builds.stable.0.path : '' }}">
                    Дистрибутив последней стабильной версии 6.0-build519 2017-08-19 (ZIP)</a>
            </div>
            <div class="col-xs-4">
                <span class="show-components">Показать компоненты сборки</span>
                <ul class="components">
                    <li><a href="">lalalalaalalalal</a></li>
                    <li><a href="">lalalalaalalalal</a></li>
                    <li><a href="">lalalalaalalalal</a></li>
                    <li><a href="">lalalalaalalalal</a></li>
                    <li><a href="">lalalalaalalalal</a></li>
                </ul>
                <div class="code-example">
                    <h3>Maven dependency</h3>
                    <div>
                        <textarea class="frame" id="stable-code" readonly>
<dependency>
&nbsp;&nbsp;&nbsp;&nbsp;<groupId>ru.curs</groupId>
&nbsp;&nbsp;&nbsp;&nbsp;<artifactId>celesta</artifactId>
&nbsp;&nbsp;&nbsp;&nbsp;<version>{{ versions.stable.version }}</version>
</dependency></textarea>
                        <button class="copy" onclick="copyToClipboard('#stable-code')">copy</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-8">
                <div>
                    <h3>История версий</h3><a class="history-link" href="http://staging.corchestra.ru/download/builds/stable/" target="_blank">Полная история версий</a>
                    <ul class="list">
                        <li class="in-list">
                            <span class="show-components">6.0-build519 2017-08-19</span>
                            <ul class="components">
                                <li><a href="">lalalalaalalalal</a></li>
                                <li><a href="">lalalalaalalalal</a></li>
                                <li><a href="">lalalalaalalalal</a></li>
                                <li><a href="">lalalalaalalalal</a></li>
                                <li><a href="">lalalalaalalalal</a></li>
                            </ul>
                        </li>
                        <li class="in-list">
                            <span class="show-components">6.0-build519 2017-08-19</span>
                            <ul class="components">
                                <li><a href="">lalalalaalalalal</a></li>
                                <li><a href="">lalalalaalalalal</a></li>
                                <li><a href="">lalalalaalalalal</a></li>
                                <li><a href="">lalalalaalalalal</a></li>
                            </ul>
                        </li>
                        <li class="in-list">
                            <span class="show-components">6.0-build519 2017-08-19</span>
                            <ul class="components">
                                <li><a href="">lalalalaalalalal</a></li>
                                <li><a href="">lalalalaalalalal</a></li>
                                <li><a href="">lalalalaalalalal</a></li>
                                <li><a href="">lalalalaalalalal</a></li>
                                <li><a href="">lalalalaalalalal</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="newest-version" class="stable-version newest-version">
        <div class="row">
            <p>Рекомендовано для установки на рабочих проектах</p>
            <div class="download-link">
                <a href="{{ builds.newest != null ? builds.newest.0.path : '' }}">
                    Дистрибутив последней новейшей версии 6.0-build519 2017-08-19 (ZIP)
                </a>
            </div>
            <div class="col-xs-4">
                <span class="show-components">Показать компоненты сборки</span>
                <ul class="components">
                    <li><a href="">lalalalaalalalal</a></li>
                    <li><a href="">lalalalaalalalal</a></li>
                    <li><a href="">lalalalaalalalal</a></li>
                </ul>
                <div class="code-example">
                    <h3>Maven dependency</h3>
                    <div>
                        <textarea class="frame" id="newest-code" readonly>
<dependency>
&nbsp;&nbsp;&nbsp;&nbsp;<groupId>ru.curs</groupId>
&nbsp;&nbsp;&nbsp;&nbsp;<artifactId>celesta</artifactId>
&nbsp;&nbsp;&nbsp;&nbsp;<version>{{ versions.newest.version }}</version>
</dependency></textarea>
                        <button class="copy" onclick="copyToClipboard('#newest-code')">copy</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-8">
                <div>
                    <h3>История версий</h3><a class="history-link" href="http://staging.corchestra.ru/download/builds/trunk/" target="_blank">Полная история версий</a>
                    <ul class="list">
                        <li class="in-list">
                            <span class="show-components">6.0-build519 2017-08-19</span>
                            <ul class="components">
                                <li><a href="">lalalalaalalalal</a></li>
                                <li><a href="">lalalalaalalalal</a></li>
                                <li><a href="">lalalalaalalalal</a></li>
                                <li><a href="">lalalalaalalalal</a></li>
                            </ul>
                        </li>
                        <li class="in-list">
                            <span class="show-components">6.0-build519 2017-08-19</span>
                            <ul class="components">
                                <li><a href="">lalalalaalalalal</a></li>
                                <li><a href="">lalalalaalalalal</a></li>
                                <li><a href="">lalalalaalalalal</a></li>
                                <li><a href="">lalalalaalalalal</a></li>
                                <li><a href="">lalalalaalalalal</a></li>
                            </ul>
                        </li>
                        <li class="in-list">
                            <span class="show-components">6.0-build519 2017-08-19</span>
                            <ul class="components">
                                <li><a href="">lalalalaalalalal</a></li>
                                <li><a href="">lalalalaalalalal</a></li>
                                <li><a href="">lalalalaalalalal</a></li>
                                <li><a href="">lalalalaalalalal</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="source-code" class="source-code">
        <p>Есть много источников, откуда вы можете скачать наши исходные коды. <br/>Свяжитесь с нами, если хотите участвовать в разработке: мы дадим вам доступ на запись</p>
        <ul>
            {% for source in sources %}
            <li>
                <h3>{{ source.title }}<span>{{ source.subtitle }}</span></h3>
                {% for link in source.sourceLinks %}
                    <a href="{{ link.url }}" target="_blank">{{ link.name }}</a>
                {% endfor %}
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
    {#<div id="stable" class="stable-version">#}
        {#<div class="row">#}
            {#<div class="col-xs-8">#}
                {#<div class="border-div">#}
                    {#<div class="download-link">#}
                        {#<a href="{{ builds.stable != null ? builds.stable.0.path : '' }}">Дистрибутив самой последней стабильной версии платформы</a>#}
                        {#<span>{{ builds.stable != null ? '(' ~ builds.stable.0.name ~ ')' : '' }}</span>#}
                        {#<p>{{ versions.stable.description }}</p>#}
                        {#<p>Рекомендовано для установки на рабочих проектах</p>#}
                    {#</div>#}
                    {#<h3>История версий</h3>#}
                    {#<ul>#}
                    {#{% for key, value in builds.stable if key != 0 %}#}
                        {#<li>#}
                            {#<a href="{{ value.path }}">{{ '(' ~ value.name ~ '), ' }}#}
                                {#<span>{{ date('NOW').diff(value.date).days ~ ' дней назад' }}</span>#}
                            {#</a>#}
                        {#</li>#}
                    {#{% endfor %}#}
                        {#<li><a href="">Последняя сборка (5.1-build518), <span>17 дней назад</span></a></li>#}
                        {#<li><a href="">Последняя стабильная сборка (5.1-build518), <span>17 дней назад</span></a></li>#}
                        {#<li><a href="">Последняя успешная сборка (5.1-build518), <span>17 дней назад</span></a></li>#}
                    {#</ul>#}
                    {#<a class="button" href="http://staging.corchestra.ru/downloads/builds">Полная история версий</a>#}
                {#</div>#}
            {#</div>#}
            {#<div class="col-xs-4">#}
                {#<div class="code-example">#}
                    {#<h3>Maven dependency</h3>#}
                    {#<div>#}
                        {#<textarea class="frame" id="stable-code" readonly>#}
{#<dependency>#}
{#&nbsp;&nbsp;&nbsp;&nbsp;<groupId>ru.curs</groupId>#}
{#&nbsp;&nbsp;&nbsp;&nbsp;<artifactId>celesta</artifactId>#}
{#&nbsp;&nbsp;&nbsp;&nbsp;<version>{{ versions.stable.version }}</version>#}
{#</dependency>#}
                            {#{{ versions.stable.mavenDependency | raw }}#}
                        {#</textarea>#}
                        {#<button class="copy" onclick="copyToClipboard('#stable-code')">copy</button>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
	{#<div id="newest-version" class="stable-version newest-version">#}
        {#<div class="row">#}
            {#<div class="col-xs-8">#}
                {#<div class="border-div">#}
                    {#<div class="download-link">#}
                        {#<a href="{{ builds.newest != null ? builds.newest.0.path : '' }}">Дистрибутив новейшей версии платформы</a>#}
                        {#<span>{{ builds.newest != null ? '(' ~ builds.newest.0.name ~ ')' : '' }}</span>#}
                        {#<p>{{ versions.newest.description }}</p>#}
                        {#<p>Рекомендовано для установки на рабочих проектах</p>#}
                    {#</div>#}
                    {#<h3>История версий</h3>#}
                    {#<ul>#}
                    {#{% for key, value in builds.newest if key != 0 %}#}
                        {#<li>#}
                            {#<a href="{{ value.path }}">{{ '(' ~ value.name ~ '), ' }}#}
                                {#<span>{{ date('NOW').diff(value.date).days ~ ' дней назад' }}</span>#}
                            {#</a>#}
                        {#</li>#}
                    {#{% endfor %}#}
                        {#<li><a href="">Последняя сборка (5.1-build518),</a><span> 17 дней назад</span></li>#}
						{#<li><a href="">Последняя стабильная сборка (5.1-build518),</a><span> 17 дней назад</span></li>#}
						{#<li><a href="">Последняя успешная сборка (5.1-build518),</a><span> 17 дней назад</span></li>#}
                    {#</ul>#}
                    {#<a class="button" href="http://staging.corchestra.ru/downloads/builds">Полная история версий</a>#}
                {#</div>#}
            {#</div>#}
            {#<div class="col-xs-4">#}
                {#<div class="code-example">#}
                    {#<h3>Maven dependency</h3>#}
                    {#<div>#}
                        {#<textarea class="frame" id="newest-code" readonly>#}
{#<dependency>#}
{#&nbsp;&nbsp;&nbsp;&nbsp;<groupId>ru.curs</groupId>#}
{#&nbsp;&nbsp;&nbsp;&nbsp;<artifactId>celesta</artifactId>#}
{#&nbsp;&nbsp;&nbsp;&nbsp;<version>{{ versions.newest.version }}</version>#}
{#</dependency>#}
                            {#{{ versions.newest.mavenDependency | raw }}#}
                        {#</textarea>#}
                        {#<button class="copy" onclick="copyToClipboard('#newest-code')">copy</button>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    {#<div id="source-code" class="source-code">#}
        {#<p>Есть много источников, откуда вы можете скачать наши исходные коды. <br/>Свяжитесь с нами, если хотите участвовать в разработке: мы дадим вам доступ на запись</p>#}
        {#<ul>#}
            {#<li>#}
                {#<h3>С сайта компании КУРС<span>Master SVN | user: reader | pwd: reader</span></h3>#}
                {#<a href="">Сelesta</a>#}
                {#<a href="">flute (включая XML2Spreadsheet)</a>#}
                {#<a href="">grains (системная библиотека Celesta)</a>#}
                {#<a href="">mellophone</a>#}
                {#<a href="">showcase</a>#}
            {#</li>#}
            {#<li>#}
                {#<h3>Lancelot-it.ru<span>Primary read-only copy | user: reader | pwd: platform</span></h3>#}
                {#<a href="">Сelesta</a>#}
                {#<a href="">flute (включая XML2Spreadsheet)</a>#}
                {#<a href="">grains (системная библиотека Celesta)</a>#}
                {#<a href="">mellophone</a>#}
                {#<a href="">showcase</a>#}
            {#</li>#}
            {#<li>#}
                {#<h3>code.sf.net<span>Secondary read-only copy (sourceforge.net, anonymous access)</span></h3>#}
                {#<a href="">Сelesta</a>#}
                {#<a href="">flute (включая XML2Spreadsheet)</a>#}
                {#<a href="">grains (системная библиотека Celesta)</a>#}
                {#<a href="">mellophone</a>#}
            {#</li>#}
        {#</ul>#}
    {#</div>#}
{#</section>#}
<section id="news" class="news">
    <div class="row">
        <div class="col-xs-7">
            <h1>Последние новости</h1>
            <ul>
            {% for item in feed %}
                <li>
                    <div class="date">{{ item.lastModified|date('d.m.Y') }}</div>
                    <a href="{{ item.link }}" target="_blank">{{ item.title }}</a>
                </li>
            {% endfor %}
            </ul>
            <a class="button" href="{{ selectedFeedSource.link }}" target="_blank">Перейти в группу новостей</a>
        </div>
        <div class="col-xs-5">
            <form id="subscribe-form">
				<h3>Хотите быть в курсе последних событий? </h3>						
				<div class="input-block">							
					<p>Подпишитесь на нашу рассылку и получайте уведомления на свой почтовый адрес</p>
					<div>
						<input placeholder="Ваш email"/>
						<button></button>
					</div>
				</div>
				<div class="success-message">
					<span></span>
					<p>Подписка оформлена!</p>
				</div>
				<span class="error"></span>
				<p class="policy">Нажимая кнопку вы принимаете условия</p>
				<a href="">пользовательского соглашения</a>
			</form>
            {#{{ form_start(subscriberForm) }}#}
                {#<h3>Хотите быть в курсе последних событий? </h3>#}
                {#<p>Подпишитесь на нашу рассылку и получайте уведомления на свой почтовый адрес</p>#}
                {#<input placeholder="Ваш email"/>#}
                {#{{ form_widget(subscriberForm) }}#}
                {#<p>Нажимая кнопку вы принимаете условия <a href="">пользовательского соглашения</a></p>#}
            {#{{ form_end(subscriberForm) }}#}
        </div>
    </div>
</section>
<footer>
    <p>Компоненты платформы КУРС являются свободным программным обеспечением<br/>с открытым исходным кодом, распространяемым по лицензии GPL v. 3.</p>
    <img src="{{ asset('bundles/frontendcomponents/img/gpl-license-logo.png') }}" alt="licence"/>
    <p><span id="address">КУРС</span> © 1998-2017</p>
</footer>
<a href="#" class="back-to-top"></a>
<div class="modal">
    <div class="modal-content">
        <img class="kurs-logo" src="{{ asset('bundles/frontendcomponents/img/kurs-logo.png') }}" alt="kurs logo" />
        <span class="close"><img src="{{ asset('bundles/frontendcomponents/img/ic-close.png') }}" alt="close btn" /></span>
        <p>{{ companyInformation.description }}</p>
        <div class="address">{{ companyInformation.address }}</div>
        <div class="mail">{{ companyInformation.email }}</div>
        <div class="phone">{{ companyInformation.phoneNumber }}</div>
        <h3>Как нас найти</h3>
        <div id="map"></div>
    </div>
</div>
<script src="{{ asset('bundles/frontendcomponents/js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ asset('bundles/frontendcomponents/js/jquery.scrollTo.min.js') }}"></script>
<script src="{{ asset('bundles/frontendcomponents/js/jquery.localScroll.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/validator/8.0.0/validator.min.js"></script>
<script src="{{ asset('bundles/frontendcomponents/js/index.js') }}"></script>
<script src="{{ asset('bundles/frontendcomponents/js/yandexMap.js') }}"></script>
</body>
</html>
