<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Orchestra</title>
	<link rel="icon" href="{{ asset('bundles/frontendcomponents/img/favicon.png') }}">
    <link rel="stylesheet" href="{{ asset('bundles/frontendcomponents/styles/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/frontendcomponents/styles/main.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/frontendcomponents/styles/bootstrap-grid.css') }}">
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter45822612 = new Ya.Metrika({
                        id:45822612,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/45822612" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
    
	<!--[if IE]>		  
		<script src="https://cdn.jsdelivr.net/g/html5shiv@3.7.3,respond@1.4.2"></script>
	<![endif]-->
</head>
<body>
<header>
    <a href="/" class="logo" >
        <img src="{{ asset('bundles/frontendcomponents/img/course-orchestra-logo.svg') }}" class="course-orchestra-logo" alt="logo"/>
    </a>
    {#{{ dump(texts) }}#}
    <nav class="nav">
        <ul>
            <li><a href="#info">
                    {% for translation in texts.0.translations if translation.locale == locale %}
                    {{ translation.text | raw }}
                    {% endfor %}
                </a></li>
            <li><a href="#advantages">
                    {% for translation in texts.1.translations if translation.locale == locale %}
                    {{ translation.text | raw }}
                    {% endfor %}
                </a></li>
            <li><a href="#users">
                    {% for translation in texts.2.translations if translation.locale == locale %}
                        {{ translation.text | raw }}
                    {% endfor %}
                </a></li>
            <li><a href="#download">
                    {% for translation in texts.3.translations if translation.locale == locale %}
                        {{ translation.text | raw }}
                    {% endfor %}
                </a></li>
            <li><a href="#news">
                    {% for translation in texts.4.translations if translation.locale == locale %}
                        {{ translation.text | raw }}
                    {% endfor %}
                </a></li>
            <li>
                <a href="https://corchestra.ru/wiki" target="_blank">
                    {% for translation in texts.5.translations if translation.locale == locale %}
                        {{ translation.text | raw }}
                    {% endfor %}
                </a>
                {#{% if app.request.schemeAndHttpHost == 'https://staging.corchestra.ru' %}#}
                {#<a href="http://wiki.staging.corchestra.ru/index.php?title=Заглавная_страница" target="_blank">Документация</a>#}
                {#{% elseif app.request.schemeAndHttpHost == 'https://corchestra.ru' %}#}
                {#<a href="https://corchestra.ru/wiki" target="_blank">Документация</a>#}
                {#{% else %}#}
                {#<a href="">Документация</a>#}
                {#{% endif %}#}
            </li>
        </ul>
    </nav>
    <div id="select-locale">
		<span>{{ locale.shortname }}</span>
		<ul>
            {% for locale in locales %}
            <li><a href="{{ path('switch_to_locale', { 'locale': locale.shortname }) }}">{{ locale.shortname }}</a></li>
		    {% endfor %}
        </ul>
	</div>
</header>
<section id="main" class="main">
    <h1>
        {% for translation in commonInformation.translations if translation.locale == locale %}
        {{ translation.title|raw }}
        {% endfor %}
    </h1>
    <p>
        {% for translation in commonInformation.translations if translation.locale == locale %}
        {{ translation.description|raw }}
        {% endfor %}
    </p>
    <a href="#info"><img src="{{ asset('bundles/frontendcomponents/img/ic-scroll-down.svg') }}" alt="scroll down"/></a>
</section>
<section id="info" class="info">
    <h1>
        {% for translation in texts.6.translations if translation.locale == locale %}
        {{ translation.text | raw }}
        {% endfor %}
    </h1>
    <div class="row">
        {% set serialNumber = 0 %}
        {% for component in components %}
        {% set serialNumber = serialNumber + 1 %}
        <div class="col-xs-4{{ serialNumber == 4 ? ' col-xs-offset-2' : '' }}">
            <h2>
                {% for translation in component.translations if translation.locale == locale %}
                <a href="{{ translation.wikiUrl ? translation.wikiUrl : '' }}" target="_blank">
                    {{ translation.name }}
                </a>
                {% endfor %}
                {#<a href="{{ component.wikiUrl ? component.wikiUrl : '' }}" target="_blank">#}
                    {#{% for translation in component.translations if translation.locale == locale %}#}
                    {#{{ translation.name }}#}
                    {#{% endfor %}#}
                {#</a>#}
            </h2>
            <p>
                {% for translation in component.translations if translation.locale == locale %}
                {{ translation.description }}
                {% endfor %}
            </p>
        </div>
        {% if serialNumber == 3 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
</section>
<section id="advantages" class="advantages">
    <h1>
        {% for translation in texts.7.translations if translation.locale == locale %}
        {{ translation.text | raw }}
        {% endfor %}
    </h1>
    <div class="row">
        {% set serialNumber = 0 %}
        {% for advantage in advantages %}
        {% set serialNumber = serialNumber + 1 %}
        <div class="col-xs-4">
			<div>
                {% for translation in advantage.translations if translation.locale == locale %}
				<img src="{{ asset('uploads/images/advantage/' ~ translation.imageName) }}" alt="icon" />
                {% endfor %}
			</div>
            <p>
                {% for translation in advantage.translations if translation.locale == locale %}
                {{ translation.description }}
                {% endfor %}
            </p>
        </div>
    {% if serialNumber == 3 %}
    </div>
    <div class="row">
    {% endif %}
    {% endfor %}
    </div>
</section>
<section id="users" class="users">
    <h1>
        {% for translation in texts.8.translations if translation.locale == locale %}
        {{ translation.text | raw }}
        {% endfor %}
    </h1>
    <div class="row">
        {% set serialNumber = 0 %}
        {% for client in clients %}
        {% set serialNumber = serialNumber + 1 %}
        <div class="col-xs-4">
			<div class="img-wrapper">
                {% for translation in client.translations if translation.locale == locale %}
				<img src="{{ asset('uploads/images/client_color/' ~ translation.colorImageName) }}" alt="icon">
                {% endfor %}
            </div>
			<p>
                {% for translation in client.translations if translation.locale == locale %}
                    {{ translation.title }}
                {% endfor %}
            </p>
        </div>
        {% if serialNumber % 3 == 0 and serialNumber != clients|length %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
</section>
<section id="download" class="download">
    <h1>
        {% for translation in texts.9.translations if translation.locale == locale %}
        {{ translation.text | raw }}
        {% endfor %}
    </h1>
    <h2>
        {% for translation in texts.10.translations if translation.locale == locale %}
        {{ translation.text | raw }}
        {% endfor %}
    </h2>
    <nav>
        <ul>
            <li><a href="#stable" class="active">
                    {% for translation in texts.11.translations if translation.locale == locale %}
                    {{ translation.text | raw }}
                    {% endfor %}
                </a></li>
            <li><a href="#newest-version">
                    {% for translation in texts.12.translations if translation.locale == locale %}
                    {{ translation.text | raw }}
                    {% endfor %}
                </a></li>
            <li><a href="#source-code">
                    {% for translation in texts.13.translations if translation.locale == locale %}
                    {{ translation.text | raw }}
                    {% endfor %}
                </a></li>
        </ul>
    </nav>
    <div id="stable" class="stable-version">
        <div class="row">
            <p>
                {% for translation in texts.14.translations if translation.locale == locale %}
                {{ translation.text | raw }}
                {% endfor %}
            </p>
            <div class="download-link">
                {% if builds.stable and builds.stable.0 %}
                <a href="{{ builds.stable != null ? builds.stable.0.path : '' }}" target="_blank">
                    {% for translation in texts.17.translations if translation.locale == locale %}
                    {{ translation.text | raw }}
                    {% endfor %}
                    {{ ' ' ~ builds.stable.0.name ~ ' ' ~ builds.stable.0.date|date('Y-m-d') ~ ' (ZIP)' }}
                </a>
                {% endif %}
            </div>
            <div class="col-xs-4">
                <span class="show-components">
                    {% for translation in texts.19.translations if translation.locale == locale %}
                    {{ translation.text | raw }}
                    {% endfor %}
                </span>
                <ul class="components">
                    {% for component in builds.stable.0.components if (builds.stable and builds.stable.0) %}
                    <li><a href="{{ component.path }}" target="_blank">{{ component.name }}</a></li>
                    {% endfor %}
                </ul>
                <div class="code-example">
                    <h3>Maven dependency</h3>
                    <div>
                        <textarea class="frame" id="stable-code" readonly>
<dependency>
&nbsp;&nbsp;&nbsp;&nbsp;<groupId>ru.curs</groupId>
&nbsp;&nbsp;&nbsp;&nbsp;<artifactId>celesta</artifactId>
&nbsp;&nbsp;&nbsp;&nbsp;<version>{{ versions.stable.version }}</version>
</dependency></textarea>
                        <button class="copy" onclick="copyToClipboard('#stable-code')">copy</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-8">
                <div>
                    <h3>
                        {% for translation in texts.20.translations if translation.locale == locale %}
                        {{ translation.text | raw }}
                        {% endfor %}
                    </h3>
                    <a class="history-link" href="http://corchestra.ru/download/builds/stable/" target="_blank">
                        {% for translation in texts.21.translations if translation.locale == locale %}
                        {{ translation.text | raw }}
                        {% endfor %}
                    </a>
                    <ul class="list">
                        {#<a href="{{ value.path }}">{{ '(' ~ value.name ~ '), ' }}#}
                        {#<span>{{ date('NOW').diff(value.date).days ~ ' дней назад' }}</span>#}
                        {% for key, value in builds.stable if key != 0 %}
                        <li class="in-list">
                            <span class="show-components">{{ value.name ~ ' ' ~ value.date|date('Y-m-d') }}</span>
                            <ul class="components">
                                {% for component in value.components %}
                                <li><a href="{{ component.path }}" target="_blank">{{ component.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="newest-version" class="stable-version newest-version">
        <div class="row">
            <p>
                {% for translation in texts.15.translations if translation.locale == locale %}
                {{ translation.text | raw }}
                {% endfor %}
            </p>
            <div class="download-link">
                {% if builds.stable and builds.stable.0 %}
                <a href="{{ builds.newest != null ? builds.newest.0.path : '' }}" target="_blank">
                    {% for translation in texts.18.translations if translation.locale == locale %}
                    {{ translation.text | raw }}
                    {% endfor %}
                    {{ ' ' ~ builds.newest.0.name ~ ' ' ~ builds.newest.0.date|date('Y-m-d') ~ ' (ZIP)' }}
                </a>
                {% endif %}
            </div>
            <div class="col-xs-4">
                <span class="show-components">
                    {% for translation in texts.19.translations if translation.locale == locale %}
                    {{ translation.text | raw }}
                    {% endfor %}
                </span>
                <ul class="components">
                    {% for component in builds.newest.0.components if (builds.newest and builds.newest.0) %}
                    <li><a href="{{ component.path }}" target="_blank">{{ component.name }}</a></li>
                    {% endfor %}
                </ul>
                <div class="code-example">
                    <h3>Maven dependency</h3>
                    <div>
                        <textarea class="frame" id="newest-code" readonly>
<dependency>
&nbsp;&nbsp;&nbsp;&nbsp;<groupId>ru.curs</groupId>
&nbsp;&nbsp;&nbsp;&nbsp;<artifactId>celesta</artifactId>
&nbsp;&nbsp;&nbsp;&nbsp;<version>{{ versions.newest.version }}</version>
</dependency></textarea>
                        <button class="copy" onclick="copyToClipboard('#newest-code')">copy</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-8">
                <div>
                    <h3>
                        {% for translation in texts.20.translations if translation.locale == locale %}
                        {{ translation.text | raw }}
                        {% endfor %}
                    </h3><a class="history-link" href="http://corchestra.ru/download/builds/trunk/" target="_blank">
                        {% for translation in texts.21.translations if translation.locale == locale %}
                        {{ translation.text | raw }}
                        {% endfor %}
                    </a>
                    <ul class="list">
                        {#<a href="{{ value.path }}">{{ '(' ~ value.name ~ '), ' }}#}
                        {#<span>{{ date('NOW').diff(value.date).days ~ ' дней назад' }}</span>#}
                        {% for key, value in builds.newest if key != 0 %}
                        <li class="in-list">
                            <span class="show-components">{{ value.name ~ ' ' ~ value.date|date('Y-m-d') }}</span>
                            <ul class="components">
                                {% for component in value.components %}
                                <li><a href="{{ component.path }}" target="_blank">{{ component.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="source-code" class="source-code">
        <p>
            {% for translation in texts.16.translations if translation.locale == locale %}
            {{ translation.text | raw }}
            {% endfor %}
        </p>
        <ul>
            {% for source in sources %}
                {% for translation in source.translations if translation.locale == locale %}
                <li>
                    <h3>{{ translation.title }}<span>{{ translation.subtitle }}</span></h3>
                    {% for link in translation.sourceLinkTranslations %}
                        <a href="{{ link.url }}" target="_blank">{{ link.name }}</a>
                    {% endfor %}
                </li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
</section>
<section id="news" class="news">
    <div class="row">
        <div class="col-xs-7">
            <h1>
                {% for translation in texts.22.translations if translation.locale == locale %}
                {{ translation.text | raw }}
                {% endfor %}
            </h1>
            <ul>
            {% for item in feed %}
                <li>
                    <div class="date">{{ item.lastModified|date('d.m.Y') }}</div>
                    <a href="{{ item.link }}" target="_blank">{{ item.title }}</a>
                </li>
            {% endfor %}
            </ul>
            <a class="button" href="{{ selectedFeedSource.link }}" target="_blank">
                {% for translation in texts.27.translations if translation.locale == locale %}
                {{ translation.text | raw }}
                {% endfor %}
            </a>
        </div>
        <div class="col-xs-5">
            <form id="subscribe-form">
				<h3>
                    {% for translation in texts.23.translations if translation.locale == locale %}
                    {{ translation.text | raw }}
                    {% endfor %}
                </h3>
				<div class="input-block">							
					<p>
                        {% for translation in texts.24.translations if translation.locale == locale %}
                        {{ translation.text | raw }}
                        {% endfor %}
                    </p>
					<div>
                        {% set placeholder = '' %}
                        {% for translation in texts.25.translations if translation.locale == locale %}
                        {% set placeholder = placeholder ~ translation.text %}
                        {% endfor %}
						<input placeholder="{{ placeholder | raw }}"/>
						<button></button>
					</div>
				</div>
				<div class="success-message">
					<span></span>
					<p>Подписка оформлена!</p>
				</div>
				<span class="error"></span>
				<p class="new-policy">
                    <strong>
                        {% for translation in texts.26.translations if translation.locale == locale %}
                        {{ translation.text | raw }}
                        {% endfor %}
                    </strong>
                </p>
				{#<p class="policy">Нажимая кнопку вы принимаете условия</p>#}
				{#<a href="">пользовательского соглашения</a>#}
			</form>
            {#{{ form_start(subscriberForm) }}#}
                {#<h3>Хотите быть в курсе последних событий? </h3>#}
                {#<p>Подпишитесь на нашу рассылку и получайте уведомления на свой почтовый адрес</p>#}
                {#<input placeholder="Ваш email"/>#}
                {#{{ form_widget(subscriberForm) }}#}
                {#<p>Нажимая кнопку вы принимаете условия <a href="">пользовательского соглашения</a></p>#}
            {#{{ form_end(subscriberForm) }}#}
        </div>
    </div>
</section>
<footer>
    <p>
        {% for translation in texts.28.translations if translation.locale == locale %}
        {{ translation.text | raw }}
        {% endfor %}
    </p>
    <img src="{{ asset('bundles/frontendcomponents/img/gpl-license-logo.png') }}" alt="licence"/>
    <p>
        <span id="address">
            {% for translation in texts.29.translations if translation.locale == locale %}
                {{ translation.text | raw }}
            {% endfor %}
        </span>
        © 1998-2017
    </p>
</footer>
<a href="#" class="back-to-top"></a>
<div class="modal">
    <div class="modal-content">
        <img class="kurs-logo" src="{{ asset('bundles/frontendcomponents/img/kurs-logo.png') }}" alt="kurs logo" />
        <span class="close"><img src="{{ asset('bundles/frontendcomponents/img/ic-close.svg') }}" alt="close btn" /></span>
        <p>
            {% for translation in companyInformation.translations if translation.locale == locale %}
            {{ translation.description }}
            {% endfor %}
        </p>
        <div class="address">
            {% for translation in companyInformation.translations if translation.locale == locale %}
            {{ translation.address }}
            {% endfor %}
        </div>
        <div class="mail">{{ companyInformation.email }}</div>
        <div class="phone">{{ companyInformation.phoneNumber }}</div>
        <h3>Как нас найти</h3>
        <div id="map"></div>
    </div>
</div>
<script src="{{ asset('bundles/frontendcomponents/js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ asset('bundles/frontendcomponents/js/jquery.scrollTo.min.js') }}"></script>
<script src="{{ asset('bundles/frontendcomponents/js/jquery.localScroll.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/validator/8.0.0/validator.min.js"></script>
<script src="{{ asset('bundles/frontendcomponents/js/index.js') }}"></script>
<script src="{{ asset('bundles/frontendcomponents/js/yandexMap.js') }}"></script>
</body>
</html>
