{% extends 'admin.html.twig' %}

{% block body %}
    <h1>Добавление статичного текста</h1>

    <div class="margin-bottom-lg border-bottom">
        <div class="row">
            <div class="col-lg-5 col-md-8">
                <br><nav>
                    <ul class="navbar">
                        {% for item in locales %}
                            <li class="{{ item == locale ? 'active' : '' }}">
                                <a class="btn" href="{{ path('admin_text_translation_new', { id: translation.id, locale: item.shortname }) }}">
                                    {{ item.shortname }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav><br><br>
                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_label(form.text) }}
                    {{ form_widget(form.text) }}
                    {{ form_errors(form.text) }}
                </div>

                <input class="btn" type="submit" value="Добавить" />
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <a class="btn" href="{{ path('admin_text_translation_index', {locale: locale.shortname}) }}">К списку</a>
{% endblock %}
