{% extends 'admin.html.twig' %}

{% block body %}
    <h1>О компании</h1>

    <table class="table table-striped table-staff">
        <thead>
            <tr>
                <th>Описание</th>
                <th>Адрес</th>
                <th>E-Mail</th>
                <th>Телефон</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for entry in companyInformation %}
            <tr>
                {#<td><a href="{{ path('admin_company_information_show', { 'id': entry.id }) }}">{{ entry.id }}</a></td>#}
                <td>{{ entry.description }}</td>
                <td>{{ entry.address }}</td>
                <td>{{ entry.email }}</td>
                <td>{{ entry.phoneNumber }}</td>
                <td><nav><ul class="navbar">
                    <li>
                        <a href="{{ path('admin_company_information_edit', { 'id': entry.id }) }}">
                            <i class="fa fa-pencil fa-lg"></i>
                        </a>
                    </li>
                </ul></nav></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
