{% extends 'admin.html.twig' %}

{% block body %}
    <h1>Общая информация</h1>

    <br><nav>
        <ul class="navbar">
        {% for item in locales %}
            <li class="{{ item == locale ? 'active' : '' }}">
            <a class="btn" href="{{ path('admin_common_information_translation_index', { locale: item.shortname }) }}">
                {{ item.shortname }}
            </a>
            </li>
        {% endfor %}
        </ul>
    </nav><br><br>

    <table class="table table-striped table-staff">
        <thead>
            <tr>
                <th>Заголовок</th>
                <th>Описание</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for entry in commonInformation %}
            <tr>
                {#<td><a href="{{ path('admin_common_information_show', { 'id': entry.id }) }}">{{ entry.id }}</a></td>#}
                <td>
                    {% for translation in entry.translations if translation.locale == locale %}
                    {{ translation.title }}
                    {% endfor %}
                </td>
                <td>
                    {% for translation in entry.translations if translation.locale == locale %}
                    {{ translation.description }}
                    {% endfor %}
                </td>
                <td><nav><ul class="navbar">
                    {#<li>#}
                        {#<a href="{{ path('admin_common_information_show', { 'id': entry.id }) }}">#}
                            {#<i class="fa fa-search fa-lg"></i>#}
                        {#</a>#}
                    {#</li>#}
                    <li>
                        <a href="{{ path('admin_common_information_translation_edit', { 'id': entry.id, 'locale': locale.shortname }) }}">
                            <i class="fa fa-pencil fa-lg"></i>
                        </a>
                    </li>
                </ul></nav></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
