{% extends 'admin.html.twig' %}

{% block body %}
    <h1>Общая информация</h1>

    <table class="table table-staff">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commonInformation.id }}</td>
            </tr>
            <tr>
                <th>Заголовок</th>
                <td>{{ commonInformation.title }}</td>
            </tr>
            <tr>
                <th>Описание</th>
                <td>{{ commonInformation.description }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn" href="{{ path('admin_common_information_edit', { 'id': commonInformation.id }) }}">Редактировать</a>

    {{ form_start(delete_form) }}
        <input class="btn" type="submit" value="Удалить">
    {{ form_end(delete_form) }}

    <a class="btn" href="{{ path('admin_component_index') }}">Вернуться</a>
{% endblock %}
